# Introduction

CS-Students is a sample knowledge graph that can be used to model any classroom that is relation based (a classroom that has lots of different people, pairs, groups, periods; things like that). This notebook is meant to demonstrate how to query this knowledge graph based on the preset things that are currently in the sample data.

# Data

## Currently, the data consists of the following categories (which are labels in Neo4J):

##### Period (most teachers would find it useful to have their data divided into class periods)
##### Scrum Team (basically, the largest overarching groups of students, under period)
##### Pairs (pairs of students within scrum teams)
##### Person (object that represents each student)

## The data also has the following relationships

##### IN_PERIOD (to relate teams to the period they are in)
##### CROSSOVER (a relationship that exists to connect pairs of teams which work together)
##### PAIR_SHARE (relationship defining students who are paired together)
##### IN_GROUP (to relate people to the group they are in)

In [6]:
import pandas as pd
from py2neo import Graph

In [7]:
# The database is hosted on AuraDB, and this is the connection URI for it
graph = Graph("neo4j+s://f9708be2.databases.neo4j.io", auth=("neo4j", "nn28tBBZUIeHYDu6Y8pbk_Lstbwry7t0f2GbcbAzrxI"))

In [8]:
# Returns all scrum teams and links to the runtimes of projects
query = "MATCH(n:SCRUM_TEAM) RETURN n.name AS TeamName, n.runtimelink AS RuntimeLink"
graph.run(query).to_data_frame()

  TeamName    RuntimeLink
0   Team 1  www.team1.com
1   Team 2  www.team2.com

In [9]:
# Returns the people in Team 1 and their jobs
query = "MATCH(n1:PERSON)-[rel:IN_GROUP]->(n2:SCRUM_TEAM {name: \"Team 1\"}) RETURN n1.name AS Person, rel.Job AS Job"
graph.run(query).to_data_frame()

  Person                 Job
0   Doug  Deployment Manager
1   Carl   Technical Officer
2    Bob      Design Manager
3  Alice        Scrum Master

In [5]:
# Returns the people in Team 2 and their jobs
query = "MATCH(n1:PERSON)-[rel:IN_GROUP]->(n2:SCRUM_TEAM {name: \"Team 2\"}) RETURN n1.name AS Person, rel.Job AS Job"
graph.run(query).to_data_frame()

   Person                 Job
0   Henry      Design Manager
1  George   Technical Officer
2    Ferb  Deployment Manager
3     Eve        Scrum Master