In [1]:
import datetime
import pandas as pd
from py2neo import Graph
import neo4jupyter

In [2]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

In [4]:
graph = Graph("neo4j+s://e66c12ba.databases.neo4j.io", user="neo4j", password="dnd")

In [6]:
### Shape of a query
query = """
MATCH (n:Class{name:'Barbarian'})
RETURN n 
"""
df = graph.run(query).to_data_frame()
df.head()

                                                   n
0  {'magic': 'anger', 'name': 'Barbarian', 'hitdi...